<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        <% hello = "Salut les BG, j'espère que vous allez bien! Petites fiches sur Git parce qu'askip ça galère pas mal
         avec les git checkout -b et tuttiquanti !
         Donc quand vous allez dans 'Tips' vous pouvez voir tous les tips déjà créés.
         Puis vous pouvez aussi en créer pour les autres (pas nécéssairement que par rapport à git).
         J'avoue j'ai fait le site pour m'entraîner en front, mais finalement je me suis dit que ça pouvait être utile
         pour se faire des petites fiches. Ou pas. Maybe j'écris plein de truc juste pour voir le texte apparaître petit
         à petit.
         Peut-être aussi que j'écris n'importe quoi, mais je m'en fous parce que t'as quand même tout lu.
         🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡🤡" %>
        <% hello.split.each do |word|%>
        <span><%= word %></span>
        <% end %>
      </h1>
    </div>
  </div>
</div>
