<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        <% hello = "Salut les BG, j'espère que vous allez bien! Petit tuto sur Git parce qu'askip ça galère pas mal
         avec les git checkout -b et tuttiquanti !
         Oui 🙃. Donc quand vous allez dans 'Tips' vous pouvez voir tous les tips déjà créés.
         Puis vous pouvez aussi en créer pour les autres (pas nécéssairement que par rapport à git).
         L'idée c'est que ça devienne une cheatsheet pour le groupe qu'on pourra réutiliser à tout moment pour Hestia 😉!
         Oui cette page fait mal aux yeux, mais t'as vu c'est animé et tout, je peux vous faire un tuto sur le front aussi
         pour pas cher." %>
        <% hello.split.each do |word|%>
        <span><%= word %></span>
        <% end %>
      </h1>
    </div>
  </div>
</div>
