.navbar-lewagon {
  justify-content: space-between;
  background: #0585b3;
  background-size:cover;
  background-image: center;
  background-position: center;
  background-repeat: no-repeat;
  height: 30%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 10rem;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  opacity: 0.5;
}
