<div id="<%= dom_id tip %>">
  <p>
    <strong>Content:</strong>
    <%= tip.content %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= tip.author %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= tip.comment %>
  </p>

</div>
