<div class="container">
  <div class="col"style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div id="<%= dom_id tip %>">
        <p>
          <strong>Title:</strong>
          <%= tip.title %>
        </p>
        <p>
          <strong>Content:</strong>
          <%= tip.content %>
        </p>



      </div>
    </div>
  </div>
</div>
