<h1>Tips</h1>

<div class="cards">
  <% @tips.each do |tip| %>
    <div class="card-category">
      <%= link_to tip  do %>
      <div class="card-top">
        <%= tip.title %>
      </div>
        <% end %>
          <div class="content">
          <%= tip.content %>
          </div>
    </div>
  <% end %>
</div>
<%# <%= link_to "New tip", new_tip_path, class:"btn btn-primary" %>
