
<div class="container">
  <div class="row">
        <h1>New tip</h1>
    <div class="col">

        <%= render "form", tip: @tip %>

        <br>

        <div>
          <%= link_to "Back to tips", tips_path, class:"btn btn-primary" %>
        </div>

    </div>
  </div>
</div>
