<div class="container">
  <div class="row">
    <div class="col">
  <%= render @tip %>

  </div>
</div>

<div class="buttonse">
  <%= link_to "Edit this tip", edit_tip_path(@tip), class:"btn btn-primary" %>
  <%= link_to "Back to tips", tips_path, class:"btn btn-primary" %>
  <%= link_to "Destroy this tip", @tip, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this film from your list ?"}, class:"btn btn-warning" %>
</div>
</div>
